In [2]:
#for loop
items=["apple","mango","orange","lemon"]
for i in items:
  print(items)
  print(i)

['apple', 'mango', 'orange', 'lemon']
apple
['apple', 'mango', 'orange', 'lemon']
mango
['apple', 'mango', 'orange', 'lemon']
orange
['apple', 'mango', 'orange', 'lemon']
lemon

In [4]:
#for loop
items=["apple","mango","orange","lemon"]
for item in items:
  print(items)

['apple', 'mango', 'orange', 'lemon']
['apple', 'mango', 'orange', 'lemon']
['apple', 'mango', 'orange', 'lemon']
['apple', 'mango', 'orange', 'lemon']

In [45]:
#for loop
items=["a","b","c","d","e"]
for i in items:
    print(items)
    print(i)

['a', 'b', 'c', 'd', 'e']
a
['a', 'b', 'c', 'd', 'e']
b
['a', 'b', 'c', 'd', 'e']
c
['a', 'b', 'c', 'd', 'e']
d
['a', 'b', 'c', 'd', 'e']
e

In [46]:
items=["a","b","c","d","e","f"]
for x in items:
  print(x)

a
b
c
d
e
f

In [52]:
books=["English","C#","C++","Database system"]
subject=["Chemistry","Computer","Biology","physics","Urdu"]
for x in books:
  for y in subject:
    print(x)
    print(y)

English
Chemistry
English
Computer
English
Biology
English
physics
English
Urdu
C#
Chemistry
C#
Computer
C#
Biology
C#
physics
C#
Urdu
C++
Chemistry
C++
Computer
C++
Biology
C++
physics
C++
Urdu
Database system
Chemistry
Database system
Computer
Database system
Biology
Database system
physics
Database system
Urdu

In [6]:
for count in range(10):
  print(count)

0
1
2
3
4
5
6
7
8
9

In [26]:
for count in range(12):
  print(count)

0
1
2
3
4
5
6
7
8
9
10
11

In [25]:
fruits = ["apple", "banana", "cherry","mango","orange"]
for x in fruits:
  print(x)

apple
banana
cherry
mango
orange

In [7]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [8]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [27]:
for x in "apple":
  print(x)

a
p
p
l
e

In [28]:
for x in "cherry":
  print(x)

c
h
e
r
r
y

In [39]:
months=["january","february","march","aprial","may","june"]
for x in months:
  if x == "march":
    continue
  print(x)

january
february
aprial
may
june

In [42]:
days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in days:
  if x == "Sunday":
    break
  print(x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [35]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [43]:
colors=["red","blue","black","green","sky","white","pink","yellow","purple"]
for x in colors:
  if x == "purple":
    continue
  print(x)

red
blue
black
green
sky
white
pink
yellow

In [13]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [14]:
fruits=["apple","banana","cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [15]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [16]:
for x in range(2,6):
  print(x)

2
3
4
5

In [23]:

for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [24]:
for x in range(2,45,4):
  print(x)

2
6
10
14
18
22
26
30
34
38
42

In [22]:
for x in range(6):
  print(x)
else:
  print("finally finished!")

0
1
2
3
4
5
finally finished!

In [19]:
for x in range(6):
  print(x)
else:
  print("finally finished!")

0
1
2
3
4
5
finally finished!

In [20]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("finally finished!")

0
1
2

In [21]:
for x in range(8):
  print(x)
else:
  print("finally finished!")

0
1
2
3
4
5
6
7
finally finished!