In [ ]:
#functions
#user defined function

#function defination

def sum():
  a=12
  b=20
  c=a+b
  print("the sum of a and b is:",c)

In [ ]:
sum()

the sum of a and b is: 32

In [ ]:
#functions
#user defined function
##without parameter, no input no return
#function defination

def sum():
  a=12
  b=23
  c=a+b
  print("the sum of a and b is:",c)

In [ ]:
#function call
sum()

the sum of a and b is: 35

In [ ]:
#function defination
#with parameter

def sum(a,b):
  c=a+b
  print("the sum of a and b is:",c)

In [ ]:
#function call
sum(12,20)

the sum of a and b is: 32

In [ ]:
#function defination
#with parameter

def sum(x,y):
  z=x+y
  print("the sum of x and y is:",z)

In [ ]:
#function call
sum(10,30)

the sum of x and y is: 40

In [ ]:
#funtion defination
#with parameter

def sum(x,y):
  z=x+y
  print("the sum of x and y is:",z)

In [ ]:
#function call
sum(1,2)

the sum of x and y is: 3

In [ ]:
#funtion defination
#with parameter

def mod(x,y):
  z=x%y
  print("the mod of x and y is:",z)

In [ ]:
#function call
mod(12,20)

the mod of x and y is: 12

In [ ]:
#funtion defination
#with parameter

def divide(x,y):
  z=x/y
  print("the divide of x and y is:",z)

In [ ]:
#function call
divide(25,5)

the divide of x and y is: 5.0

In [ ]:
#funtion defination
#with parameter

def subtraction(x,y):
  z=x-y
  print("the subtraction of x and y is:",z)

In [ ]:
#function call
subtraction(30,20)

the subtraction of x and y is: 10

In [ ]:
def even_odd(n):
  if n%2==0:
    print(n,"is even")
  else:
    print(n,"is odd")

In [ ]:
#find the number is even or odd from 1 to 50
even_odd(34)

34 is even

In [ ]:
def even_odd(n):
  if n%2==0:
    print(n,"is even")
  else:
    print(n,"is odd")

In [ ]:
#find the number is even or odd from 1 to 50
even_odd(23)

23 is odd

In [ ]:
def even_odd(n):
  if n%2==0:
    print(n,"is even")
  else:
    print(n,"is odd")

In [ ]:
#find the number is even or odd from 1 to 50
for v in range(1,51):
 even_odd(v)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even

In [ ]:
def even_odd(n):
  if n%2 ==0:
    return "even"
  else:
    return "odd"

In [ ]:
#find the number is even or odd from 1 to 40
even_odd(34)

'even'

In [ ]:
def even_odd(n):
  if n%2 ==0:
    return "even"
  else:
    return "odd"

In [ ]:
#find the number is even or odd from 1 to 40
even_odd(35)

'odd'

In [ ]:
def even_odd(n):
  if n%2 ==0:
    return "even"
  else:
    return "odd"

In [52]:
#find the number of even or odd from 1 to 45
ans=even_odd(24)
print(ans)

even

In [53]:
def even_odd(n):
  if n%2 ==0:
    return "even"
  else:
    return "odd"

In [54]:
#find the number of even or odd from 1 to 45
ans=even_odd(43)
print(ans)

odd