In [1]:
def my_function():
  print("Hello from a function")

In [5]:
my_function()

Hello from a function

In [6]:
def my_function(fname):
  print(fname + " Refsnes")

In [7]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [8]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [9]:
my_function("Emil", "Refsnes")

Emil Refsnes

In [12]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

In [13]:
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [14]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

In [15]:

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [16]:
def my_function(country = "Norway"):
  print("I am from " + country)

In [17]:
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [18]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

In [19]:
my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [20]:
def my_function(x):
  return 5 * x

In [21]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [26]:
def my_function(x):
  return 5 / x

In [27]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

1.6666666666666667
1.0
0.5555555555555556

In [24]:
def my_function(x):
  return 5 + x

In [25]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

8
10
14

In [28]:
def my_function(x):
  return 5 - x

In [29]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

2
0
-4